.city-search{
    height: 350px;
    margin-left: 20px;
    padding: 10px 20px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #D1D8EC;
    -webkit-box-shadow: 10px 10px 20px #b2b8c9, -10px -10px 20px #f0f8ff;
    box-shadow: 7px 7px 16px #b2b8c9, -10px -10px 24px #f0f8ff;
}
.city-search form{
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 6px !important; */
}
.city-search button{
    margin-left: -20px;
}
.loc-icon{
    /* margin-left: -55px; */
}
.weather-image img{
    margin-left:50px;
    width:510px;
    height: 350px;
    border-radius: 15px;
}
.page1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 480px) {
    body {
      background-color: blue;
    }
    .city-search{
        height: 325px;
        padding: 0 10px;
        margin: 0 auto 25px auto;
    }
    .city-search form{
        width: fit-content;
        margin-left: 6px !important;
    }
    .city-search button, .city-search input{
        /* margin-left: -20px; */
        font-size: small;
        padding: 4px 10px;
    }
    /* .loc-icon{
        width: 30px;
    } */
    .weather-result{
        font-size: 80%;
        margin: 0;
    }
    .temp h1{
        font-size: 20px;
    }
    .weather-image img{
        /* width: 378px; */
        width: 107%;
        height: 110%;
        margin-left: -12px;
        margin-right: auto;
    }
}